<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">about</a></li>
    <li class="nav-project" role="menuitem"><a href="{{site.baseurl}}tag/project/">project</a></li>
    <li class="nav-c" role="menuitem"><a href="{{site.baseurl}}tag/c/">c</a></li>
    <li class="nav-data_structure" role="menuitem"><a href="{{site.baseurl}}tag/data_structure/">data structure</a></li>
    <li class="nav-algorithm" role="menuitem"><a href="{{site.baseurl}}tag/algorithm/">algorithm</a></li>
    <li class="nav-os" role="menuitem"><a href="{{site.baseurl}}tag/os/">os</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>